{% extends "template.html" %}

{% block content %}
    <body>
        <nav class="navbar navbar-expand-lg navbar-mainbg" style="padding: 0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars text-white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                    <li class="nav-item">
                        <a class="nav-link" href="/index"><i class="fas fa-house"></i>Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/fileuploads"><i class="fas fa-right-left"></i>Config Import/Export</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/connectivity"><i class="fas fa-signal"></i>Connectivity</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gatewayconfiguration"><i class="fas fa-gear"></i>GW Advance Configuration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/modbus"><i class="fas fa-microchip"></i>Modbus Configuration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/showlog"><i class="fas fa-table-list"></i>Show Log</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/latestreading"><i class="fas fa-gauge-simple"></i>Latest Readings</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <h2>Configuration File (config.json) Download</h2>
            <br><br>
            <!-- Auto width -->
            <form action="/download" method="get">
                <button  type="submit" >Download Current config.json</button><br><br>
            </form>
        </div>
        <br><br>
        <div class="container">
            <h2>Configuration File (config.json) Upload</h2>
            <form action="{{ url_for('upload_files') }}" class="dropzone">
            </form>
            <script src="../static/dropzone.js"></script>
        </div>
        </div>
    </body>
{% endblock %}