{% extends "template.html" %}

{% block content %}

    <body>
        <nav class="navbar navbar-expand-lg navbar-mainbg" style="padding: 0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars text-white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                    <li class="nav-item active">
                        <a class="nav-link" href="/index"><i class="fas fa-house"></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fileuploads"><i class="fas fa-right-left"></i>Config Import/Export</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/connectivity"><i class="fas fa-signal"></i>Connectivity</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gatewayconfiguration"><i class="fas fa-gear"></i>GW Advance Configuration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/modbus"><i class="fas fa-microchip"></i>Modbus Configuration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/showlog"><i class="fas fa-table-list"></i>Show Log</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/latestreading"><i class="fas fa-gauge-simple"></i>Latest Readings</a>
                    </li>
                </ul>
            </div>
        </nav>

        <h3>Welcome to SRE-Solutions Webserver!</h3>
        <br>
        <table>
            <td>
                <img src="../static/sre-solutions_logo_medium.png" style="float: left; display: block;  margin-right: 20px; width: 250px">
            </td>
            <td class="nobreak">
                Python SW Version: {{ parameter.pythonswversion }}<br>
                Webserver Version: {{ parameter.webserverversion }}<br>
            </td>
        </table>
        {% if parameter.enable3g == "enabled" %}
            <h4>Connection-Status:</h4>
            <div class="container">
                <b>3G-Interface</b><br><br>
                {% if  parameter.mobileconnectionstatus == "connected" %}
                    <div class="success"> Connection-Status: {{ parameter.mobileconnectionstatus }}</div>
                {% else %}
                    <div class="failed"> Connection-Status: {{ parameter.mobileconnectionstatus }}</div>
                {% endif %}
                <!--IP-Address: {{ parameter.mobileipaddress }}<br>
                Gateway: {{ parameter.mobilegateway }}<br>-->
                Signal strength: {{ parameter.mobilesignalstrength }}<br>
                Duration connected:{{ parameter.mobileconnectionduration }}<br>
                Operator name:{{ parameter.mobileoperatorname }}<br>
                APN:{{ parameter.mobileapn }}<br>
                IMEI:{{ parameter.mobileimei }}<br>
                Number: {{ parameter.mobilenumber }}<br>
            </div>
        {% else %}
            <br>
            <div class="container">
                <b>Ethernet-Interface</b><br><br>
                {% if  parameter.eth0ipaddress != "no IP-Address" %}
                    IP-Address eth0: {{ parameter.eth0ipaddress }}<br>
                    Subnet-mask eth0: {{ parameter.eth0mask }}<br>
                {% endif %}
                {% if  parameter.eth1ipaddress != "no IP-Address" %}
                    IP-Address wlan0: {{ parameter.wlan0ipaddress }}<br>
                    Subnet-mask wlan0: {{ parameter.wlan0mask }}<br>
                {% endif %}
            </div>
            <br>
        {% endif %}
        <br>
        <div class="container">
            <b>Gateway Properties</b><br><br>
            GW CPU-Architecture: {{ parameter.gwarchitecture }}<br>
            GW CPU-Model: {{ parameter.gwmodelname }}<br>
            GW CPU-Max (MHz): {{ parameter.gwcpumaxmhz }}<br>
            GW CPU-Min (MHz): {{ parameter.gwcpuminmhz }}<br>
            Number of events: {{ parameter.eventcounter }}<br>
            {% if  admin %}
                <form action="/index" method="post">
                    <div class="row">
                        <input type="submit" name="type" value="Reset Event counter" align="left">
                        <input type="submit" name="type" value="Restart Gateway"  align="left">
                    </div>
                </form>
            {% endif %}
        </div>
    </body>
{% endblock %}

