
{% extends "template.html" %}

{% block content %}
    <body onload="registerSelectionChanged()">
        <nav class="navbar navbar-expand-lg navbar-mainbg" style="padding: 0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars text-white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                    <li class="nav-item">
                        <a class="nav-link" href="/index"><i class="fas fa-house"></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fileuploads"><i class="fas fa-right-left"></i>Config Import/Export</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/connectivity"><i class="fas fa-signal"></i>Connectivity</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gatewayconfiguration"><i class="fas fa-gear"></i>GW Advance Configuration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/modbus"><i class="fas fa-microchip"></i>Modbus Configuration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/showlog"><i class="fas fa-table-list"></i>Show Log</a>
                    </li>
                    <li class="nav-item active" style="margin-right: 20px">
                        <a class="nav-link" href="/latestreading"><i class="fas fa-gauge-simple"></i>Latest Readings</a>
                    </li>
                </ul>
            </div>
        </nav>

        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                }
                else {
                    x.className = "topnav";
                }
            }
        </script>
        <div class="container">
            <h2>Latest readings</h2>
            {% if parameter.latestreadings|length %}
                <table style="width:100%" class="statisticstable">
                    <tr style="text-align: left">
                        <!--<th>Timestamp</th>-->
                        <th>Tag name</th>
                        <th>Value</th>
                    </tr>
                    {% for item in parameter.latestreadings %}
                        <tr>
                            <!--<td>{{item.timestamp}}</td>-->
                            <td>{{item.tagname}}</td>
                            <td>{{item.value}}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            <br>
        </div>
        <div class="container">
            {% if parameter|length %}
                <div class="row">
                    <div class="col-25">
                        <label>Select Register</label>
                    </div>
                    <div class="col-60">
                        <select id="register" name="register" style="width: 100%"
                            onchange="registerSelectionChanged()">
                            {% for latestreading in parameter.latestreadings %}
                                <option value={{loop.index}}>Name: {{latestreading.tagname}}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
           {% endif %}
        </div>
        </form>
        <canvas id="line-chart" width="800" height="450"></canvas>
    </body>

    <script src="/static/Chart.bundle.js"></script>/

    <script>
        function registerSelectionChanged() {
            var selectedindex = document.getElementById("register").selectedIndex;
            var user = JSON.parse('{{ parameter | tojson | safe}}');
            var labels = [];
            var length =  user.latestreadings[selectedindex].history.value.length; // user defined length
            var data = [];
            for(var i = 0; i < length; i++) {
                labels.push(new Date(user.latestreadings[selectedindex].history.moment[i]));
                var element = {
                    x: new Date(user.latestreadings[selectedindex].history.moment[i]),
                    y: user.latestreadings[selectedindex].history.value[i]
                }
                console.log(element);
                data.push(element)
            }
            console.log(data);
            new Chart(document.getElementById("line-chart"), {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        data: user.latestreadings[selectedindex].history.value,
                        label: user.latestreadings[selectedindex].tagname,
                        borderColor: "#3e95cd",
                        fill: false
                    }
                    ]
                },
                options: {
                    title: {
                        display: true,
                        text: user.latestreadings[selectedindex].tagname
                    },
                    scales: {
                        xAxes: [{
                            type: 'time'
                        }],
                    }
                }
            });
        }
    </script>
    </body>
{% endblock %}
</html>