{% extends "template.html" %}

{% block content %}
    <body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-mainbg" style="padding: 0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars text-white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                    <li class="nav-item">
                        <a class="nav-link" href="/index"><i class="fas fa-house"></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fileuploads"><i class="fas fa-right-left"></i>Config Import/Export</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/connectivity"><i class="fas fa-signal"></i>Connectivity</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gatewayconfiguration"><i class="fas fa-gear"></i>GW Advance Configuration</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/modbus"><i class="fas fa-microchip"></i>Modbus Configuration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/showlog"><i class="fas fa-table-list"></i>Show Log</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/latestreading"><i class="fas fa-gauge-simple"></i>Latest Readings</a>
                    </li>
                </ul>
            </div>
        </nav>
        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                }
                else {
                    x.className = "topnav";
                }
            }
        </script>
        <h2>Modbus functions</h2>
        <div class="container">
            <form action="/modbuswriteform" method="post">
                <h3>Write Holding Registers</h3>
                <div class="row">
                    <div class="col-25">
                        <label for="register">Holding Register to write</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="register" name="register" placeholder="74">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="value">Value</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="value" name="value" placeholder="0">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="transportid">Tansport-ID</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="transportid" name="transportid" placeholder="1">
                    </div>
                </div>
                <div class="row">
                    <input type="submit" value="Write Register">
                </div>
                <script>
                    var user = JSON.parse('{{ parameter | tojson | safe}}');
                    if(user.hasOwnProperty('success'))
                    {
                        document.write("<br><div class=\"success\">Status: "+ user.success)+"</div>";
                    }
                    if(user.hasOwnProperty('failed'))
                    {
                        document.write("<br><div class=\"failed\">Status: "+ user.failed)+"</div>";
                    }
                </script>
            </form>
        </div>
    </div>
    <br><br>
    <div class="container">
        <form action="/modbusreadform" method="post">
            <h3>Read Input and Holding Registers</h3>
            <div class="row">
                <div class="col-25">
                </div>
                <div class="col-75">
                    <select id="dataarea" name="dataarea" style="width: 100%">
                        <option value="inputregistes">Input Registers (3x)</option>
                        <option value="holdingregisters">Holding Registers (4x)</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="register">Register to read</label>
                </div>
                <div class="col-75">
                    <input type="text" id="register" name="register" placeholder="74">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="quantity">Quantity</label>
                </div>
                <div class="col-75">
                    <input type="text" id="quantity" name="quantity" placeholder="1">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="transportid">Tansport-ID</label>
                </div>
                <div class="col-75">
                    <input type="text" id="transportid" name="transportid" placeholder="1">
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Read Registers">
            </div>
        </form>
        <script>
            var user = JSON.parse('{{ parameter2 | tojson | safe}}');
            if(user.hasOwnProperty('success'))
            {
                document.write("<br><div class=\"success\">Status: "+ user.success)+"</div>";
            }
            if(user.hasOwnProperty('failed'))
            {
                document.write("<br><div class=\"failed\">Status: "+ user.failed)+"</div>";
            }
        </script>
    </div>
    {% if response|length %}
        <br>
        <h5><u>Answer from Modbus-Slave</u></h5>
        {% for key, value in response.items() %}
            Register Number: {{key}}, Value: {{value}}<br>
        {% endfor %}
    {% endif %}
    </form>
    </div>
    <br>
    <div class="container">
        <form action="/modbuscheckconnectivity" method="post">
            <h3>Check connectivity</h3>
            <div class="row">
                <div class="col-25">
                    <label for="transportid">Tansport-ID</label>
                </div>
                <div class="col-75">
                    <input type="text" id="transportid" name="transportid" placeholder="1">
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Check connectivity">
            </div>
        </form>
        {% if "modbuscheckconnectivitysuccess" in parameter %}
            <br><div class="success">Connection available</div><br>
        {% endif %}
        {% if "modbuscheckconnectivityfailed" in parameter %}
            <br><div class="failed">Connection error: {{parameter.modbuscheckconnectivityfailed}}</div><br>
        {% endif %}
    </div>
    <br>
    <div class="container">
        <form action="/modbussendalldata" method="post">
            <h3>Upload All active Registers</h3>
            <div class="row">
                <input type="submit" value="Upload Registers">
            </div>
        </form>
        {% if "modbusuploadregisterssuccess" in parameter %}
            <br><div class="success">All Registers transferred</div><br>
        {% endif %}
        {% if "modbusuploadregistersfailed" in parameter %}
            <br><div class="failed">Connection error: {{parameter.modbusuploadregistersfailed}}</div><br>
        {% endif %}
    </div>
    </div>
    </body>
{% endblock %}