[Unit]
Description=Modbus MQTT Gateway
After=syslog.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/gateway/pi
ExecStart=python3 /home/pi/gateway/run.py
SyslogIdentifier=gateway
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target